[Unit]
Description = daemon for the volume web ui
After = systemd-user-sessions.service

[Service]
User = volume
Group = volume
Type = simple
ExecStart = /usr/local/opt/virtualenvs/volume_ctl/bin/python \
                /usr/local/opt/virtualenvs/volume_ctl/bin/vol_webui \
                    --host 0.0.0.0 \
                    --port 6789 \
                    --card hw:0 \
                    --device default \
                    --mixer master
Restart = on-failure
RestartSec = 15

[Install]
WantedBy = multi-user.target
